
    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
div.container{
  border: 5px solid rgba(255, 255, 255, 0.05);
  width: 100%;
  margin: 0 auto;
  background-color: rgb(247, 0, 0);
}
header{
background-image: url('../images/allaince\ logo.jpg');
}
.lobby img{
  width: 100%;
 height: 10%;
}
div.left, div.middle, div.right {
  width: 30%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1)
}
div.middle img{
width: 80%;
}
aside img{
  width: 90%;
}
aside{
  display: flex;
  justify-content: space-around;
}
nav{
  background-image: url('../images/flame\ on.jpg');
background-color: rgba(37, 35, 35, 0.062)
}
ul{ 
  text-align: center;
}
li{
display: inline-block;
width: 30%;
border: 2px solid rgba(255, 255, 255, 0.05);
line-height: 3em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-variant: small-caps;
justify-content: space-around;
}
a{
  color: #0427eb;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
}
footer{
background-color: black;
}
footer li{
  width: 8%;
  background-color: #0166a1;
}
footer a{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
}
nav img{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
h3{
  border: 10px solid purple;
  background-color: rgba(0, 0, 0, 0.63);
  color: aliceblue;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 570px;
  
}
h3 ul{
  text-align: left;
  
}
h3 li{
  display: inline-block;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.05);
  line-height: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
  justify-content: space-around;
}
.overlay{
  background-color: rgb(170, 50, 50);
  position: absolute;
  border: 5px solid black;
  top: 490px;
  width: 100%;
  height: 8%;
  overflow: hidden;
  -webkit-transition:all .5s ease-in-out .2s ;
  -ms-transition:all .5s ease-in-out .2s ;
  -o-transition:all .5s ease-in-out .2s ;
  transition:all .5s ease-in-out .2s ;
}
.overlay:hover {
  height:40% ;
  top: 490px;
}
div.right:hover {
  transform: scale(1.05);
  transition: 1s;
  z-index: 2;
}
div.middle:hover {
  transform: scale(1.05);
  z-index: 2;
  transition: 1s;
}
div.left:hover {
  transform: scale(1.05);
  z-index: 2;
  transition: 1s;
}
.overlay li{
  display: inline-block;
width: 100%;
border: 2px solid rgba(255, 255, 255, 0.05);
line-height: 1em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-variant: small-caps;
justify-content: space-around;
}
.overlay ul{
  text-align: left;
}
h4{
  border: 10px solid purple;
  background-color: rgba(0, 0, 0, 0.418);
  color: aliceblue;
  width: 100%;
  height: 350px;
  position: absolute;
  top: 1070px;
}
h5{
  border: 10px solid rgb(218, 10, 218);
  background-color: rgba(94, 94, 94, 0.555);
  color: aliceblue;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 1420px;
  justify-content: space-around;
} 

@media screen and (max-width :1650px) {
  div.container{
    border: 5px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    margin: 0 auto;
    background-color: rgb(55, 0, 255);
    font-size: small;
  }
  footer{
    background-color: black;
    }
    footer li{
      width: 5%;
      background-color: #0166a1;
    }
    footer a{
      color: black;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: large;
    }
    .overlay{
      background-color: rgb(170, 50, 50);
      position: absolute;
      border: 5px solid black;
      top: 360px;
      width: 100%;
      height: 8%;
      overflow: hidden;
      -webkit-transition:all .5s ease-in-out .2s ;
      -ms-transition:all .5s ease-in-out .2s ;
      -o-transition:all .5s ease-in-out .2s ;
      transition:all .5s ease-in-out .2s ;
    }
    .overlay:hover {
      height:20% ;
      top: 360px;
    }
    div.right:hover {
      transform: scale(1.05);
      transition: 1s;
      z-index: 2;
    }
    div.middle:hover {
      transform: scale(1.05);
      z-index: 2;
      transition: 1s;
    }
    div.left:hover {
      transform: scale(1.05);
      z-index: 2;
      transition: 1s;
    }
    .overlay li{
      display: inline-block;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.05);
    line-height: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    justify-content: space-around;
    }
    .overlay ul{
      text-align: left;
    }
    h3{
      border: 10px solid purple;
      background-color: rgba(0, 0, 0, 0.63);
      color: aliceblue;
      width: 100%;
      height: 20%;
      position: absolute;
      top: 430px;
      overflow: hidden;
    }
    h4{
      border: 10px solid purple;
      background-color: rgba(0, 0, 0, 0.418);
      color: aliceblue;
      width: 100%;
      height: 20%;
      position: absolute;
      top: 600px;
    }
    h5{
      border: 10px solid purple;
      background-color: rgba(0, 0, 0, 0.555);
      color: aliceblue;
      width: 100%;
      height: 8%;
      position: absolute;
      top: 1200px;
      justify-content: space-around;
    } 
}
@media screen and (max-width :1480px) {
  div.container{
    border: 5px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    font-size: x-small;
  }
  footer{
    background-color: black;
    }
    footer li{
      width: 10%;
      background-color: #0166a1;
    }
    footer a{
      color: black;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: large;
    }
    .overlay{
      background-color: rgb(170, 50, 50);
      position: absolute;
      border: 5px solid black;
      top: 360px;
      width: 100%;
      height: 8%;
      overflow: hidden;
      -webkit-transition:all .5s ease-in-out .2s ;
      -ms-transition:all .5s ease-in-out .2s ;
      -o-transition:all .5s ease-in-out .2s ;
      transition:all .5s ease-in-out .2s ;
    }
    .overlay:hover {
      height:20% ;
      top: 360px;
    }
    div.right:hover {
      transform: scale(1.05);
      transition: 1s;
      z-index: 2;
    }
    div.middle:hover {
      transform: scale(1.05);
      z-index: 2;
      transition: 1s;
    }
    div.left:hover {
      transform: scale(1.05);
      z-index: 2;
      transition: 1s;
    }
    .overlay li{
      display: inline-block;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.05);
    line-height: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    justify-content: space-around;
    }
    .overlay ul{
      text-align: left;
    }
    h3{
      border: 10px solid purple;
      background-color: rgba(0, 0, 0, 0.63);
      color: aliceblue;
      width: 100%;
      height: 20%;
      position: absolute;
      top: 430px;
    }
    h4{
      border: 10px solid purple;
      background-color: rgba(0, 0, 0, 0.418);
      color: aliceblue;
      width: 100%;
      height: 20%;
      position: absolute;
      top: 600px;
    }
    h5{
      border: 10px solid purple;
      background-color: rgba(0, 0, 0, 0.555);
      color: aliceblue;
      width: 100%;
      height: 100px;
      position: absolute;
      top: 900px;
      justify-content: space-around;
    } 
}
@media screen and (max-width :1160px) {
  div.container{
    border: 5px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    margin: 0 auto;
    background-color: rgb(28, 209, 37);
    font-size: xx-small;
  }
  footer{
    background-color: black;
    }
    footer li{
      width: 10%;
      background-color: #0166a1;
    }
    footer a{
      color: black;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: large;
    }
    .overlay{
      background-color: rgb(170, 50, 50);
      position: absolute;
      border: 5px solid black;
      top: 340px;
      width: 100%;
      height: 8%;
      overflow: hidden;
      -webkit-transition:all .5s ease-in-out .2s ;
      -ms-transition:all .5s ease-in-out .2s ;
      -o-transition:all .5s ease-in-out .2s ;
      transition:all .5s ease-in-out .2s ;
    }
    .overlay:hover {
      height:20% ;
      top: 340px;
    }
    div.right:hover {
      transform: scale(1.05);
      transition: 1s;
      z-index: 2;
    }
    div.middle:hover {
      transform: scale(1.05);
      z-index: 2;
      transition: 1s;
    }
    div.left:hover {
      transform: scale(1.05);
      z-index: 2;
      transition: 1s;
    }
    .overlay li{
      display: inline-block;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.05);
    line-height: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    justify-content: space-around;
    }
    .overlay ul{
      text-align: left;
    }
    h3{
      border: 10px solid purple;
      background-color: rgba(0, 0, 0, 0.63);
      color: aliceblue;
      width: 100%;
      height: 20%;
      position: absolute;
      top: 420px;
    }
    h4{
      border: 10px solid purple;
      background-color: rgba(0, 0, 0, 0.418);
      color: aliceblue;
      width: 100%;
      height: 20%;
      position: absolute;
      top: 620px;
    }
    h5{
      border: 10px solid purple;
      background-color: rgba(0, 0, 0, 0.555);
      color: aliceblue;
      width: 100%;
      height: 8%;
      position: absolute;
      top: 820px;
      justify-content: space-around;
    } 
}
